
<section class="guide clearfix">
    <h2 class="">How Urlaubsglück works?</h2>
    <div class="wrap-jcarousel">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="guide__step">
                        <a class="guide__button" href="#"> STEP 1</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step guide__step--step2">
                        <a class="guide__button guide__button--step2" href="#"> STEP 2</a>
                        <p class="guide__title guide__title--step2">Morbi velit risus</p>
                        <p class="guide__text guide__text--2">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                        sit amet porttitor est.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step guide__step--step3">
                        <a class="guide__button" href="#"> STEP 3</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
            </ul>
            <a class="jcarousel-prev" href="#"></a>
            <a class="jcarousel-next" href="#"></a>
        </div>

        <div class="jcarousel">
            <ul>
                <li>
                    <div class="guide__step guide__step--step2">
                        <a class="guide__button guide__button--step2" href="#"> STEP 2</a>
                        <p class="guide__title guide__title--step2">Morbi velit risus</p>
                        <p class="guide__text guide__text--2">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                        sit amet porttitor est.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step guide__step--step3">
                        <a class="guide__button" href="#"> STEP 3</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step">
                        <a class="guide__button" href="#"> STEP 1</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
            </ul>
            <a class="jcarousel-prev" href="#"></a>
            <a class="jcarousel-next" href="#"></a>
        </div>

        <div class="jcarousel">
            <ul>
                <li>
                    <div class="guide__step guide__step--step3">
                        <a class="guide__button" href="#"> STEP 3</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step">
                        <a class="guide__button" href="#"> STEP 1</a>
                        <p class="guide__title">Sed leo enim, condimentum</p>
                        <p class="guide__text">Quisque libero libero, dictum non turpis in, luctus semper lorem.
                        Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </li>
                <li>
                    <div class="guide__step guide__step--step2">
                        <a class="guide__button guide__button--step2" href="#"> STEP 2</a>
                        <p class="guide__title guide__title--step2">Morbi velit risus</p>
                        <p class="guide__text guide__text--2">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
                        sit amet porttitor est.</p>
                    </div>
                </li>
            </ul>
            <a class="jcarousel-prev" href="#"></a>
            <a class="jcarousel-next" href="#"></a>
        </div>
    </div>
</section>

<section class="partners">
    <h2 class="">Meet a partner for your best holiday</h2>
    <div class="partners-wrapper clearfix">
        <div class="partner">
            <div class="partner__photo">
                <img class="" src="img/partner_1.png">
                <img class="partner__ellipse" src="img/ellipse_1.png">
                <img class="partner__ellipse-shape" src="img/ellipse_shape_1.png" >
            </div>
            <div class="partner__text">
                <p class="partner__name">Bradley Hunter</p>
                <p class="partner__description">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__photo">
                <img class="" src="img/partner_2.png">
                <img class="partner__ellipse" src="img/ellipse_2.png">
                <img class="partner__ellipse-shape" src="img/ellipse_shape_2.png" >
            </div>
            <div class="partner__text">
                <p class="partner__name">Heather Walker</p>
                <p class="partner__description">I'm a happy person that loves cats and climbing on mountains.</p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__photo">
                <img class="" src="img/partner_3.png">
                <img class="partner__ellipse" src="img/ellipse_3.png">
                <img class="partner__ellipse-shape partner__ellipse-shape--3" src="img/ellipse_shape_3.png">
            </div>
            <div class="partner__text">
                <p class="partner__name">Lucas Marsha</p>
                <p class="partner__description">I get my inspiration from nature and objects around me.
                I have a passion to colours, typography and skateboards.</p>
            </div>
        </div>
        <div class="partner">
            <div class="partner__photo">
                <img class="" src="img/partner_4.png">
                <img class="partner__ellipse" src="img/ellipse_4.png">
                <img class="partner__ellipse-shape partner__ellipse-shape--4" src="img/ellipse_shape_4.png">
            </div>
            <div class="partner__text">
                <p class="partner__name">Bradley Hunter</p>
                <p class="partner__description">Based in Chicago. I love playing tennis and loud music.</p>
            </div>
        </div>
    </div>
    <div class="partners__button">
        <button class="" type="button">See other partners</button>
   </div>
</section>

<section class="discover">
    <h2 class="">Discover holiday activity ideas</h2>
    <div class="discover-wrapper">
    </div>
</section>

<section class="activities">
    <div class="activities-search">
        <h2 class="">Discover holiday activity ideas</h2>
        <form class="activities-search__form" action="" method="" >
            <p class="activities-search__question">Hi! What are your holiday interests?</p>
            <input class="activities-search__input" type="text" name="" value="" placeholder="Enter your interests">
            <button class="activities-search__button" type="submit">Search partners</button>
        </form>
    </div>
</section>

<script type="text/template" id="ideas-template">
    <div class="grid">
    <% for (var i = 0; i<data.length; i++) { %>
        <div class="tile tile--ideas
        <% if (( i === 5 ) || ( i === 4 )){ %>
            tile--ideas-width2
            <% } %>" style = "background: url(<%= data[i].imageurl %>); background-size: cover">
            <a href="#"><h3 class="tile__heading tile__heading--ideas"><%= data[i].word %></h3></a>
        </div>
    <% }; %>
    </div>
</script>