/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url('../fonts/RobotoLight.woff2') format('woff2'),
    url("../fonts/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold.eot");
    src: url("../fonts/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBlack"; */
@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/Roboto-Black.eot");
    src: url("../fonts/Roboto-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-Black.woff") format("woff"),
    url("../fonts/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBlackItalic"; */
@font-face {
    font-family: "RobotoBlackItalic";
    src: url("../fonts/Roboto-BlackItalic.eot");
    src: url("../fonts/Roboto-BlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto-BlackItalic.woff") format("woff"),
    url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MontserratBold"; */
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MontserratRegular"; */
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}