<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>JavaScript 11-12 (2 part)</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style_tmpl.css">

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/tmpl.data.js"></script>
</head>
<body>

<script type="text/html" id="my_tmpl">
  <div id="main_box">
    <p class="header_text"><%= name %></p>
    <img class="img_center" src=<%= img %> alt="User image"> 
    <div class="inside_box">
      <p class="other_text"><%= job %></p>
      <p class="line"></p>
      <p class="other_text"> Скилы:</p>
      <ul class="table">
        <% for ( var i = 0; i < reasons.length; i++ ) { %>
          <li><%= skills[i].skill %></li>
        <% } %>
      </ul>
      <p class="line"></p>
      <p class="other_text">Контактный телефон: </br> <%= phoneNumber %></p>
      <p class="other_text">Профиль Facebook </br> <a href="<%= facebook %>">Facebook</a></p>
      <p class="line"></p>
      <p class="other_text">Фидбек: </br> <%= feedback %></p>
    </div>
  </div>
</script>

</body>
</html>