<header>
    <div class="header-wrapper">
        <div class="header-head">
            <div class="authorization clearfix">
                <div>
                    <a class="authorization__button-log-in" href="#">Log in</a>
                </div>
                <div>
                    <a class="authorization__button-sing-up" href="#">Sign up</a>
                </div>
            </div>
            <h1 class="logo">
                <a class="logo__link" href="#">URLAUBSGLÜCK</a>
            </h1>
        </div>
        <div class="promo">
            <p class="promo__slogan">share your holiday dreams</p>
            <p class="promo__second">And find the perfect partner to fullfill it</p>
            <a class="promo__button" href="#">Find your holiday partner</a>
        </div>
    </div>
</header>